
<div class="row" >
    <div class="col s6">
        <a class="btn-floating btn-large waves-effect waves-light red"  (click)="addVariable()"><i class="material-icons">add</i></a>
    </div>

    <form materialize class="col s6">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" (ngModelChange)="search_text_changed($event)" [(ngModel)]="search_text" name="search_text" ></textarea>
          <label for="textarea1">Search Variables</label>
        </div>
    </form>
</div>

<div class="row" *ngIf="loading">
  <div materialize class="progress">
      <div class="indeterminate"></div>
  </div>

</div>

<div class="row" style="height: 100%" *ngIf="addVariableFlag">
   <form materialize class="col s12" [formGroup]="myForm" (ngSubmit)="addVariableSubmit(myForm.value, $event)"  class="ui form">
          <div class="row">
              <div class="input-field col s5">
                  <input id="icon_prefix" type="text" class="validate"  formControlName="variable_name" required ng-pristine>
                  <label>Variable Name</label>
              </div>
              <div class="input-field col s5">
                  <input id="icon_telephone" type="tel" class="validate"  formControlName="description" required>
                  <label>Description</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s5">
                  <input id="" type="text" class="validate"  formControlName="identifier" required>
                  <label>Identifier, Must starts with hash</label>
              </div>

              <div class="input-field col s5">
                  <input id="" type="text" class="validate"  formControlName="data_type" required>
                  <label>Data Type, either image or text</label>
              </div>
              <div class="input-field col s2">
                <button class="btn waves-effect waves-light" (click)="addVariableCategory($event)" >Add Category</button>
              </div>

            </div>




          <div class="row" formArrayName="categories" *ngFor="let item of myForm.get('categories').controls; let i = index;">

            <div [formGroupName]="i">
                <div class="row">
                    <div class="col s4">
                        <input formControlName="category_name" placeholder="Category Name">
                    </div>
                    <div class="col s4">
                        <input formControlName="category_identifier" placeholder="Category identifier, must starts with ##">
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                          <input formControlName="category_description" placeholder="category_description">
                    </div>
                    <div class="col s4">
                        <button type="button" (click)="delCategory(i)">Delete</button>
                    </div>
                </div>
            </div>

        </div>


          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>
        </form>
</div>

<div class="row" style="height: 100%" *ngIf="editVariableFlag">
   <form materialize class="col s12" [formGroup]="editForm" (ngSubmit)="editVariableSubmit(editForm.value, $event)"  class="ui form">
            <div class="row">
              <div class="input-field col s5">
                  <input disabled id="icon_prefix" type="text" class="validate"  formControlName="variable_id" required ng-pristine>
                  <label>Variable Id</label>
              </div>
              <div class="input-field col s5">
                  <input id="icon_telephone" type="tel" class="validate"  formControlName="creation_approval" required>
                  <label>Description</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s5">
                  <input disabled id="icon_prefix" type="text" class="validate"  formControlName="username" required ng-pristine>
              </div>
              <div class="input-field col s5">
                  <input disabled id="icon_telephone" type="tel" class="validate"  formControlName="indian_time" required>
              </div>
            </div>

    
    
    
            <div class="row">
              <div class="input-field col s5">
                  <input id="icon_prefix" type="text" class="validate"  formControlName="variable_name" required ng-pristine>
                  <label>Variable Name</label>
              </div>
              <div class="input-field col s5">
                  <input id="icon_telephone" type="tel" class="validate"  formControlName="description" required>
                  <label>Description</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s5">
                  <input id="" type="text" class="validate"  formControlName="identifier" required>
                  <label>Identifier, Must starts with hash</label>
              </div>

              <div class="input-field col s5">
                  <input id="" type="text" class="validate"  formControlName="data_type" required>
                  <label>Data Type, either image or text</label>
              </div>
              <div class="input-field col s2">
                <button class="btn waves-effect waves-light" (click)="editVariableCategory($event)" >Add Category</button>
              </div>

            </div>

          <div class="row" formArrayName="categories" *ngFor="let item of myForm.get('categories').controls; let i = index;">

            <div [formGroupName]="i">
                <div class="row">
                    <div class="col s4">
                        <input formControlName="category_name" placeholder="Category Name">
                    </div>
                    <div class="col s4">
                        <input formControlName="category_identifier" placeholder="Category identifier, must starts with ##">
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                          <input formControlName="category_description" placeholder="category_description">
                    </div>
                    <div class="col s4">
                        <button type="button" (click)="delEditCategory(i)">Delete</button>
                    </div>
                </div>
            </div>

        </div>


          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>
        </form>
</div>



<div class="row">
            <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Created on</th>
              <th>Description</th>
              <th>Identifier</th>
              <th>Data Type</th>
              <th>Username</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>

        <tbody *ngFor="let variable of variables$ | async | paginate: {id: 'variable', itemsPerPage: 15, currentPage: currentPage,  totalItems: template_count$ |async}">
            <tr>
                    <td>{{variable.variable_name}}</td>
                    <td>{{variable.indian_time}}</td>
                    <td>{{variable.description}}</td>
                    <td>{{variable.identifier}}</td>
                    <td>{{variable.data_type}}</td>
                    <td>{{variable.username}}</td>
                    
                    <td><button class="btn waves-effect waves-light small" (click) = "edit(variable)">Edit</button></td>
                    <td><button class="btn waves-effect waves-light red small" (click) = "delete(variable)">-</button></td>
            </tr>


        </tbody>
        </table>
        <pagination-controls id="variable" (pageChange)="pageVariableChanged($event)"></pagination-controls>

</div>

