<div class="row">
    <a class="btn-floating btn-large waves-effect waves-light red" (click)="addUser()"><i class="material-icons">add</i></a>
</div>

<div class="row">
        <!--
        
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
        <a href="#!" class="breadcrumb">Fourth</a>
        <a href="#!" class="breadcrumb">Fifth</a>
        <a href="#!" class="breadcrumb">Sixth</a>
        <a href="#!" class="breadcrumb">Seventh</a>
        </div>
    </div>
  </nav>
        -->
</div>

<div class="row">

<div *ngIf="nanoskillEdit">
    <div class="col s12">
       <form materialize class="col s12" #form="ngForm" (ngSubmit)="submitEdit()">
          <div class="row">
              <div class="input-field col s4">
                  <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="nanoskill.name" name="name">
              </div>
              <div class="input-field col s4">
                  <input id="icon_telephone" type="tel" class="validate"  [(ngModel)]="nanoskill.description" name="description">
              </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>
        </form>
    </div>
</div>




<div *ngIf="nanoskillCreate">
    <div class="col s12">
       <form materialize class="col s12" #form="ngForm" (ngSubmit)="submitForm(form.value)">
          <div class="row">
              <div class="input-field col s4">
                  <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="name" name="name">
                  <label>Name</label>
              </div>
              <div class="input-field col s4">
                  <input id="icon_telephone" type="tel" class="validate"  [(ngModel)]="description" name="description">
                  <label>Description</label>
              </div>
              <div class="input-field col s4">
                  <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="user_type" name="user_type">
                  <label for="user_type">User Type</label>
              </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>
        </form>
    </div>
</div>
   

        <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>description</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Add subjects</th>
          </tr>
        </thead>

        <tbody *ngFor="let nanoskill of nanoskills | async">
            <tr>
                    <td>{{nanoskill.name}}</td>
                    <td>{{nanoskill.description}}</td>
                    <td><button class="btn waves-effect waves-light" (click) = "edit(nanoskill)" >Edit</button></td>
                    <td><button class="btn waves-effect waves-light" (click) = "delete(nanoskill)">Delete</button></td>
                    <td><button class="btn waves-effect waves-light">Subjects</button></td>
            </tr>

        </tbody>
        </table>


</div>