
<div class="row" >
    <div class="col s6">
        <a class="btn-floating btn-large waves-effect waves-light red"  (click)="addModule()"><i class="material-icons">add</i></a>
    </div>
    <form materialize class="col s6">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" (ngModelChange)="search_text_changed($event)" [(ngModel)]="search_text" name="search_text" ></textarea>
          <label for="textarea1">Search Nanoskill</label>
        </div>
    </form>
</div>

<!--When clicking on the +permission button the permission_module changes which then provides us the module_id on module.module_id
    When changing the  users, a new api call is being made, which fetched the user and then changes the permission object which then redered into this 
    permission form, On changing the permission for a particular user, subit button has to be clicked thich then makes an api call to the backend 
    and updates the permission for this object.
    Disabled => So when modules were fecthed from the backend, every module has a permission object attached to it, 
            So this permisison object has permission of loggedin user on that particular module, If a user doesnt have delete permission 
            on the module, he/she cannot provide delete permission to any other person too.

-->
<div class="row" *ngIf="addPermissionFlag">
                  <select [(ngModel)]="user" name="user" (ngModelChange)="onUserChange($event)"  materialize="material_select" class="col s2">
                        <option value="" disabled selected>Select User</option>
                        <option *ngFor="let user of users$ | async" [value]="user.user_id">{{user.username}}</option>
                  </select>

                  <div class="col s2">
                    <label for="add_child"><b>{{permission_module.module_name}}</b></label>
                </div>
                  <form materialize #permissionForm="ngForm" (ngSubmit)="submitPermissions(permissionForm.value)" class="col s10">

                <div class="col s2">
                    <input name="add_child" [disabled]="!permission_module.permission.add_child" [ngModel]="(permission$ |async)?.add_child" [checked]="(permission$ |async)?.add_child" type="checkbox" id="add_child" />
                    <label for="add_child">Add Child</label>
                </div>

                <div class="col s2">
                    <input name="get" type="checkbox" [disabled]="!permission_module.permission.get" [ngModel]="(permission$ |async)?.get" [checked]="(permission$ |async)?.get" id="get" />
                    <label for="get">Get</label>
                </div>
                <div class="col s2">
                    <input name="edit" type="checkbox" [disabled]="!permission_module.permission.edit" [ngModel]="(permission$ |async)?.edit" [checked]="(permission$ |async)?.edit" id="edit" />
                    <label for="edit">Edit</label>
                </div>
                <div class="col s2">
                    <input name="delete" type="checkbox" [disabled]="!permission_module.permission.delete" [ngModel]="(permission$ |async)?.delete"  [checked] ="(permission$ |async)?.delete"  id="delete" />
                    <label for="delete">Delete</label>
                </div>
                <div class="col s2">

                          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                      <i class="material-icons right">send</i>
                      </button>
                </div>

        </form>
    </div>

<div class="row">

<div *ngIf="moduleEdit">
    <div class="row">
       <form materialize class="col s12" #editform="ngForm" (ngSubmit)="submitEditForm(editform.value)">

          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>  
            
             <div class="row">
                <div class="input-field col s4">
                          <input id="icon_prefix" type="text" class="validate" disabled [(ngModel)]="module.module_name" name="module.module_name" required ng-pristine>
                </div>
                <div class="input-field col s4">
                      <input id="icon_telephone" type="text" class="validate"  [(ngModel)]="module.description" name="module.description" required>
                        <label>Description</label>
                </div>
                <div class="col s4" *ngIf="loggedUser.user_type == 'superadmin'">
                        <input name="creation_approval" type="checkbox"  [(ngModel)]="module.creation_approval"  [checked] ="module.creation_approval"  id="checkbox" />
                        <label for="checkbox">Creation Approval</label>
                </div>


            </div>

            <div class="row">
                <div class="input-field col s12">
                      <input id="icon_telephone" type="text" class="validate"  [(ngModel)]="module.connection" name="module.connection" required>
                        <label>Connection</label>
                </div>
            </div>
             <div class="row">
                    <div class="input-field col s6">
                          <input id="icon_prefix" type="text" class="validate" disabled [(ngModel)]="module.username" name="module.username" required ng-pristine>
                     </div>
                <div class="input-field col s6">
                      <input id="icon_prefix" type="text" class="validate" disabled [(ngModel)]="module.module_id" name="module.module_id" required>
                </div>
              
            </div>

        </form>
    </div>

    <div class="row">
              <div class="col s6">
                    <angular2-multiselect [data]="creationData" [(ngModel)]="module.creation_approval" 
                        [settings]="creationDataSettings" 
                        ></angular2-multiselect>
              </div>
    </div>
    <div class="row">
              <div class="col s6">
                    <angular2-multiselect [data]="allnanoskills" [(ngModel)]="module.prereq_modules_all_parents" 
                        [settings]="preReqModulesOtherDomainsSettings" 
                        ></angular2-multiselect>
              </div>
              <div class="col s6">
                      <angular2-multiselect [data]="nanoskills" [(ngModel)]="module.prereq_modules" 
                            [settings]="preReqModulesSettings"></angular2-multiselect>

              </div>
    </div>
    <div class="row">
              <div class="col s6">
                    <angular2-multiselect [data]="difficultyData" [(ngModel)]="module.difficulty" 
                        [settings]="difficultySettings" 
                        ></angular2-multiselect>
              </div>
              <div class="col s6">
                      <angular2-multiselect [data]="bloomTaxonomyData" [(ngModel)]="module.bloom_taxonomy" 
                            [settings]="bloomTaxonomySettings"></angular2-multiselect>

              </div>
    </div>

    <div class="row">
        <div class="col s6">
                    <angular2-multiselect [data]="nanoskills" [(ngModel)]="module.skip_nanoskills" 
                        [settings]="skipnanoskillsSettings" 
                        ></angular2-multiselect>
        </div>
    <!--           <div class="col s6">
                      <angular2-multiselect [data]="bloomTaxonomyData" [(ngModel)]="bloom_taxonomy" 
                            [settings]="bloomTaxonomySettings"></angular2-multiselect>

              </div>
 --> </div>
</div>


<div class="row">

<!-- <div *ngIf="domainPermissions">
    <div class="col s12">
       <form materialize class="col s12" #form="ngForm" (ngSubmit)="editDomain(domain)">
          <div class="row">
              <div class="input-field col s4">
                  <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="domain.module_name" name="domain_name">
              </div>
              <div class="input-field col s4">
                  <input id="icon_telephone" type="tel" class="validate"  [(ngModel)]="domain.description" name="description">
              </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>
        </form>
    </div>
</div>
 -->



<div *ngIf="moduleCreate">
 <div class="row">
       <form materialize class="col s12" #form="ngForm" (ngSubmit)="submitForm(form.value)">

          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>  
            
             <div class="row">
                    <div class="input-field col s6">
                          <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="module_name" name="module_name" required ng-pristine>
                        <label>Name</label>
                     </div>
                <div class="input-field col s6">
                      <input id="icon_telephone" type="text" class="validate"  [(ngModel)]="description" name="description" required>
                        <label>Description</label>
                </div>
              
                </div>

            <div class="row">
                <div class="input-field col s12">
                      <input id="icon_telephone" type="text" class="validate"  [(ngModel)]="connection" name="connection" required>
                        <label>Connection</label>
                </div>
            </div>

        </form>
    </div>
    <div class="row">
              <div class="col s6">
                    <angular2-multiselect [data]="allnanoskills" [(ngModel)]="prereq_modules_all_parents" 
                        [settings]="preReqModulesOtherDomainsSettings" 
                        ></angular2-multiselect>
              </div>
              <div class="col s6">
                      <angular2-multiselect [data]="nanoskills" [(ngModel)]="prereq_modules" 
                            [settings]="preReqModulesSettings"></angular2-multiselect>

              </div>
    </div>
    <div class="row">
              <div class="col s6">
                    <angular2-multiselect [data]="difficultyData" [(ngModel)]="difficulty" 
                        [settings]="difficultySettings" 
                        ></angular2-multiselect>
              </div>
              <div class="col s6">
                      <angular2-multiselect [data]="bloomTaxonomyData" [(ngModel)]="bloom_taxonomy" 
                            [settings]="bloomTaxonomySettings"></angular2-multiselect>

              </div>
    </div>
    <div class="row">
              <div class="col s6">
                    <angular2-multiselect [data]="nanoskills" [(ngModel)]="skip_nanoskills" 
                        [settings]="skipnanoskillsSettings" 
                        ></angular2-multiselect>
              </div>
    <!--           <div class="col s6">
                      <angular2-multiselect [data]="bloomTaxonomyData" [(ngModel)]="bloom_taxonomy" 
                            [settings]="bloomTaxonomySettings"></angular2-multiselect>

              </div>
 -->    </div>


</div>

        <table>



        <thead>
          <tr>
              <th>Name</th>
              <th>Creator</th>
              <th>Created on</th>
              <th>Creation approval</th>
              <th>Children</th>
              <th>Status</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Add Questions</th>
              <th>Add Permissions</th>
          </tr>
        </thead>

        <tbody *ngFor="let domain of nanoskills$ | async">
            <tr>
                    <td>{{domain.module_name}}</td>
                    <td>{{domain.username}}</td>
                    <td>{{domain.indian_time}}</td>
                    <td>
                        <input disable type="radio" [checked]="domain.creation_approval"/><label class="black-text flow-text"></label>
                    </td>
                    <td>{{ domain.children}}</td>
                    <td>{{domain.status}}</td>
                    
                    <td><button class="btn waves-effect waves-light small" (click) = "editModule(domain)" ><i class="material-icons">edit</i></button></td>
                    <td><button class="btn waves-effect waves-light red small" (click) = "deleteModule(domain)"><i class="material-icons">delete</i></button></td>
                    <td><button class="btn waves-effect waves-light small" (click)="selectModule(domain)"><i class="material-icons">add_box</i></button></td>
                    <td><button class="btn waves-effect waves-light small" (click)="addPermissions(domain)"><i class="material-icons">add_box</i></button></td>
            </tr>


        </tbody>
        </table>
        <ul materialize class="pagination">
             <li *ngFor="let page of pages" [class.active]="page == currentPage">
                 <a href="javascript:void(0)" (click)="pageNanoskillChanged(page, $event)">{{page}}</a>
            </li>
        </ul>

</div>