<div class="container" >
    <div class="row" style="background-color: transparent;">
       <div class="col s5 offset-s7 card transparent animated tada z-depth-5 hoverable fadeInUp" style="margin-top: 10%">
         <form materialize class="col s12"  (ngSubmit)="onSubmit(myForm.value)" #myForm="ngForm">
            <div class="row">
                <span><p class>{{authError$ | async}}</p></span>
            </div>

        <!--
            <div class="row" disable>
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        -->
            <div class="row">
                  <div class="input-field col s12">
                      <input  id="username" type="text" class="validate" [(ngModel)]="username" name="username" required>
                      <label for="username">User Name</label>
                  </div>
                </div>
                  <div class="row">
        
                  <div class="input-field col s12">
                      <input id="password" type="password" class="validate" [(ngModel)]="password" name="password" required>
                      <label for="password">Last Name</label>
                  </div>
              </div>
              <div class="row">
                
          <button class="btn waves-effect waves-light" type="submit"  [disabled]="!myForm.form.valid" name="action">Submit
              <i class="material-icons right">send</i>
          </button>
              </div>
    
        </form>
        


      </div>
    </div>
</div>