<div class="row">
    <a class="btn-floating btn-large waves-effect waves-light red" (click)="addUser()"><i class="material-icons">add</i></a>
</div>

<div *ngIf="userCreate">
    <div class="row">
       <form materialize class="col s12" #form="ngForm" (ngSubmit)="submitForm(form.value)">
          <div class="row">
              <div class="input-field col s6">
                  <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="first_name" name="first_name">
                  <label for="icon_prefix">First Name</label>
              </div>
              <div class="input-field col s6">
                  <input id="icon_telephone" type="tel" class="validate"  [(ngModel)]="last_name" name="last_name">
                  <label for="icon_telephone">Last Name</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s6">
                  <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="email" name="email">
                  <label for="icon_prefix">Email</label>
              </div>
              <div class="input-field col s6">
                  <input id="icon_telephone" type="tel" class="validate"  [(ngModel)]="telephone" name="telephone">
                  <label for="icon_telephone">Telephone</label>
              </div>
          </div>
            <div class="row">
              <div class="input-field col s6">
                  <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="pan_card" name="pan_card">
                  <label for="icon_prefix">Pan Card</label>
              </div>
              <div class="input-field col s6">
                  <input id="icon_telephone" type="tel" class="validate"  [(ngModel)]="adhaar_number" name="adhaar_number">
                  <label for="icon_telephone">Adhaar Number</label>
              </div>
          </div>

    

          <div class="row col s6">
                <label for="icon_telephone">Role</label>
                
                <div class="input-field col s12">
                    <select  class="browser-default" name="role" [(ngModel)]="role">
                        <option value="" disabled selected>Choose your option</option>
                        <option *ngFor="let role of roles" [ngValue]="role" > {{role}} </option>
                    </select>
                </div>
          </div>
          <div class="row col s6">
              <label for="icon_telephone">some random value</label>
              <div class="input-field col s12">
                    <select class="browser-default">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
              </div>
          </div>

          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>
        </form>
    </div>
</div>