<div class="row">
    <div class="col s6">
        <a class="btn-floating btn-large waves-effect waves-light red" (click)="addUser()"><i class="material-icons">add</i></a>
    </div>

    <div class="col s6">
                <form materialize class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea" (ngModelChange)="search_text_changed($event)" [(ngModel)]="search_text" name="search_text" ></textarea>
                            <label for="textarea1">Search User</label>
                        </div>
                    </div>
                </form>
    </div>

</div>

<div *ngIf="openform">
        <form materialize class="col s12" [formGroup]="complexForm" (ngSubmit)="formsubmit(complexForm.value)" novalidate>
            <div class="row">
                <div class="input-field col s4">
                    <label>First Name</label>
                    <input class="form-control" type="text" class="validate" formControlName="first_name">
                    <div *ngIf="formErrors.first_name" class="alert alert-danger red">{{formErrors.first_name }}</div>
                </div>

                <div class="input-field col s4">
                    <label >Last Name: </label>
                    <input class="form-control" type="text" class="validate" formControlName="last_name">
                    <div *ngIf="formErrors.last_name" class="alert alert-danger red">{{formErrors.last_name}}</div>
                </div>

                  <div class="input-field col s4" >
                    <label >User Name: </label>
                    <input class="form-control" type="text" class="validate" formControlName="username">
                    <div *ngIf="formErrors.username"  disabled class="alert alert-danger red">{{formErrors.username}}</div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4">
                    <label>Phone Number</label>
                    <input class="form-control" type="text" class="validate" formControlName="phone_number">
                    <div *ngIf="formErrors.phone_number" class="alert alert-danger red">{{formErrors.phone_number}}</div>
                </div>

                <div class="input-field col s4">
                    <label >Email</label>
                    <input class="form-control" type="text" class="validate" formControlName="email">
                    <div *ngIf="formErrors.email" class="alert alert-danger red">{{formErrors.email}}</div>
                </div>

                 <div class="input-field col s4">
                    <label >User Secret</label>
                    <input class="form-control" type="text" class="validate" formControlName="user_secret">
                    <div *ngIf="formErrors.user_secret" class="alert alert-danger red">{{formErrors.user_secret}}</div>
                </div>
            </div>

            <div class="row"  *ngIf="!edit">
                <div class="input-field col s6">
                    <label>Password</label>
                    <input class="form-control" type="text" class="validate" formControlName="password">
                    <div *ngIf="formErrors.password" class="alert alert-danger red">{{formErrors.password}}</div>
                </div>

                <div class="input-field col s6">
                    <label>Confirm Password</label>
                    <input class="form-control" type="text"  class="validate" formControlName="confirm_password">
                    <div *ngIf="formErrors.confirm_password?.notEquivalent" class="alert alert-danger red">{{formErrors.confirm_password?.notEquivalent}}</div>
                </div>

            </div>

           <div class="row">
               <div class="input-field col s6">
                  <select class="form-control"  formControlName="user_type" [(ngModel)]="user_type" [materializeSelectOptions]="selectOptions" materialize="material_select">
                        <option value="" disabled selected>Type of User</option>
                      <option *ngFor="let user_type of user_types" [ngValue]="user_type">{{user_type}}</option>
                  </select>
                <div *ngIf="formErrors.user_type" class="alert alert-danger red">{{formErrors.user_type}}</div>

              </div>
            </div>
           <div class="row" *ngIf="user_type == 'admin' ||user_type == 'general' ">
            <div class="input-field col s6">
                  <select class="form-control"  formControlName="create_domain" [materializeSelectOptions]="selectOptions" materialize="material_select">
                        <option value="" disabled selected>Create Domain Permissions</option>
                      <option *ngFor="let value of create_domains" [ngValue]="value">{{value}}</option>
                  </select>

              </div>
              <div class="input-field col s6">
                  <select class="form-control"  formControlName="create_template" [materializeSelectOptions]="selectOptions" materialize="material_select">
                        <option value="" disabled selected>Create Template Permissions</option>
                      <option *ngFor="let value of create_domains" [ngValue]="value">{{value}}</option>
                  </select>

              </div>


            </div>

           <div class="row" *ngIf="user_type == 'admin' ||user_type == 'general' ">
              <div class="input-field col s6">
                  <select class="form-control"   formControlName="create_variable" [materializeSelectOptions]="selectOptions" materialize="material_select">
                        <option value="" disabled selected>Create Variable Permissions</option>
                      <option *ngFor="let value of create_domains" [ngValue]="value">{{value}}</option>
                  </select>

              </div>

            <div class="input-field col s6">
                  <select class="form-control"  formControlName="create_variabletemplate" [materializeSelectOptions]="selectOptions" materialize="material_select">
                        <option value="" disabled selected>Create Variable Template Permissions</option>
                      <option *ngFor="let value of create_domains" [ngValue]="value">{{value}}</option>
                  </select>

              </div>
            </div>


                  <button class="btn btn-small cyan" type="submit" [disabled]="!complexForm.valid">Submit</button>
                  <button class="btn btn-small cyan" *ngIf="edit" (click)="changePasswordEvent()">Change Password</button>


        </form>
</div>

<div>

        <table materialize>
        <thead>

          <tr>
              <th>First Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Create Domain</th>
              <th>Admin</th>
              <th>CreatedOn</th>
              <th>Edit user</th>
              <th>Delete user</th>
              <th></th>
          </tr>
        </thead>

        <tbody  *ngFor="let user of users$ | async">
            <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <input disable type="radio" [checked]="user.create_domain"/><label class="black-text flow-text"></label>
                    </td>
                    <td>
                        <input disable type="radio" [checked]="user.user_type == 'admin'"/><label class="black-text flow-text"></label>
                    </td>
                    <td>{{user.indian_time}}</td>
                    <td><button class="btn waves-effect waves-light" (click) = "editUser(user)" >Edit</button></td>
                    <td><button class="btn waves-effect waves-light" (click) = "deleteUser(user)">Delete</button></td>
            </tr>

        </tbody>
            <ul materialize class="pagination">
                <li *ngFor="let page of pages" [class.active]="page == currentPage">
                    <a href="javascript:void(0)" (click)="pageChanged(page, $event)">{{page}}</a>
            </li>
        </ul>
        </table>
</div>