<div class="row">
    <a class="btn-floating btn-large waves-effect waves-light red" (click)="addUser()"><i class="material-icons">add</i></a>
</div>

<div *ngIf="userCreate">
        <form materialize class="col s12" [formGroup]="complexForm" (ngSubmit)="addUserSubmit(complexForm.value)">
            <div class="row">
                <div class="input-field col s4">
                    <label>First Name</label>
                    <input type="text" class="validate" formControlName="first_name">
                    <div *ngIf="formErrors.first_name" class="alert alert-danger red">{{formErrors.first_name }}</div>
                </div>

                <div class="input-field col s4">
                    <label >Last Name: </label>
                    <input type="text" class="validate" formControlName="last_name">
                    <div *ngIf="formErrors.last_name" class="alert alert-danger red">{{formErrors.last_name}}</div>
                </div>

                  <div class="input-field col s4">
                    <label >User Name: </label>
                    <input type="text" class="validate" formControlName="username">
                    <div *ngIf="formErrors.username" class="alert alert-danger red">{{formErrors.username}}</div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4">
                    <label>Phone Number</label>
                    <input type="text" class="validate" formControlName="phone_number">
                    <div *ngIf="formErrors.phone_number" class="alert alert-danger red">{{formErrors.phone_number}}</div>
                </div>

                <div class="input-field col s4">
                    <label >Email</label>
                    <input type="text" class="validate" formControlName="email">
                    <div *ngIf="formErrors.email" class="alert alert-danger red">{{formErrors.email}}</div>
                </div>

                 <div class="input-field col s4">
                    <label >User Secret</label>
                    <input type="text" class="validate" formControlName="user_secret">
                    <div *ngIf="formErrors.user_secret" class="alert alert-danger red">{{formErrors.user_secret}}</div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <label>Password</label>
                    <input type="text" class="validate" formControlName="password">
                    <div *ngIf="formErrors.password" class="alert alert-danger red">{{formErrors.password}}</div>
                </div>

                <div class="input-field col s6">
                    <label>Confirm Password</label>
                    <input type="text" class="validate" formControlName="confirm_password">
                    <div *ngIf="formErrors.confirm_password" class="alert alert-danger red">{{formErrors.confirm_password}}</div>
                </div>

            </div>

           <div class="row">
              <div class="input-field col s6">
                  <select [(ngModel)]="required_concepts"  formControlName="user_type" [materializeSelectOptions]="selectOptions" materialize="material_select">
                        <option value="" disabled selected>Type of User</option>
                      <option *ngFor="let user_type of user_types" [value]="user_type">{{user_type}}</option>
                  </select>

              </div>

            <div class="input-field col s6">
                  <select [(ngModel)]="create_domain"  formControlName="create_domain" [materializeSelectOptions]="selectOptions" materialize="material_select">
                        <option value="" disabled selected>Create Domain Permissions</option>
                      <option *ngFor="let value of create_domains" [value]="value">{{value}}</option>
                  </select>

              </div>
            </div>


                  <button type="submit" [disabled]="!complexForm.valid">Submit</button>


        </form>
</div>



<div *ngIf="userEdit">
    <div class="row">
       <form materialize class="col s12" #editForm="ngForm" (ngSubmit)="editUserSubmit(editForm.value)">
          <div class="row">
              <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate"  [(ngModel)]="user.first_name" name="first_name" required>
                  <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                  <input id="last_name" type="text" class="validate"  [(ngModel)]="user.last_name" name="last_name" required>
                  <label for="last_name">Last Name</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s6">
                  <input id="email" type="email" class="validate"  [(ngModel)]="user.email" name="email" required>
                  <label for="email">Email</label>
              </div>
              <div class="input-field col s6">
                  <input id="phone_number" type="tel" class="validate"  [(ngModel)]="user.phone_number" name="phone_number" required>
                  <label for="phone_number">Telephone</label>
              </div>
          </div>

           <div class="row">
              <div class="input-field col s6">
                  <input id="password" type="password" class="validate"  [(ngModel)]="user.password" name="password" required>
                  <label for="passsword">Password</label>
              </div>

              <div class="input-field col s6">
                  <input id="password" type="password" class="validate"  [(ngModel)]="user.password" name="password" required>
                  <label for="passsword">Password</label>
              </div>
            </div>
           <div class="row">
            
              <div class="input-field col s1">
                  <input id="is_admin" type="checkbox" class="validate"  [(ngModel)]="user.is_admin" name="is_admin">
                  <label for="is_admin">Administrator</label>
              </div>
                
              <div class="input-field col s6">
                  <input id="is_admin" type="checkbox" class="validate"  [(ngModel)]="user.is_admin" name="is_admin">
                  <label for="is_admin">Administrator</label>
              </div>
 
              <div class="input-field col s6">
                  <input id="is_admin" type="checkbox" class="validate"  [(ngModel)]="user.is_admin" name="is_admin">
                  <label for="is_admin">Administrator</label>
              </div>
 
              <div class="input-field col s6">
                  <input id="is_admin" type="checkbox" class="validate"  [(ngModel)]="user.is_admin" name="is_admin">
                  <label for="is_admin">Administrator</label>
              </div>
 
              <div class="input-field col s6">
                  <input id="is_admin" type="checkbox" class="validate"  [(ngModel)]="user.is_admin" name="is_admin">
                  <label for="is_admin">Administrator</label>
              </div>


            </div>

          <button class="btn waves-effect waves-light" type="submit"  [disabled]="!editForm.form.valid" name="action">Submit
              <i class="material-icons right">send</i>
          </button>
        </form>
    </div>
</div>
<div>

        <table materialize>
        <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Create Domain</th>
              <th>Admin</th>
              <th>CreatedOn</th>
              <th>Edit user</th>
              <th>Delete user</th>
              <th></th>
          </tr>
        </thead>

        <tbody *ngFor="let user of users$ | async">
            <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <input disable type="radio" [checked]="user.create_domain"/><label class="black-text flow-text"></label>
                    </td>
                    <td>
                        <input disable type="radio" [checked]="user.user_type == 'admin'"/><label class="black-text flow-text"></label>
                    </td>
                    <td>{{user.indian_time}}</td>
                    <td><button class="btn waves-effect waves-light" (click) = "editUser(user)" >Edit</button></td>
                    <td><button class="btn waves-effect waves-light" (click) = "deleteUser(user)">Delete</button></td>
            </tr>

        </tbody>
        </table>
</div>