
<div class="row" >
    <div class="col s6">
        <a class="btn-floating btn-large waves-effect waves-light red"  (click)="addVariabletemplate()"><i class="material-icons">add</i></a>
    </div>

    <!-- 
    <form materialize class="col s6">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" (ngModelChange)="search_text_changed($event)" [(ngModel)]="search_text" name="search_text" ></textarea>
          <label for="textarea1">Search Subconcepts</label>
        </div>
    </form> -->
</div>

<div class="row" *ngIf="loading">
  <div materialize class="progress">
      <div class="indeterminate"></div>
  </div>

</div>

<div class="row" style="height: 100%" *ngIf="openForm">
        <form materialize class="col s12" #form="ngForm">
              
              <select [(ngModel)]="variable_value"   (ngModelChange)="onChange($event)" name="variable_value" [materializeSelectOptions]="selectOptions" materialize="material_select">
                        <option value="" disabled selected>Variable Name</option>
                      <option *ngFor="let variable of selectedvariabletemplate.variables" [ngValue]="variable">{{variable.variable_name}}</option>
                </select>
        </form>

        <form class="col s12" #variabletemplateform="ngForm" materialize (ngSubmit)="variabletemplateSubmit(variabletemplateform.value)">
            <div class="row">
            <div class="input-field col s6">
                  <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="selectedvariabletemplate.variabletemplate_name" name="variabletemplate_name" required ng-pristine>
                  <label *ngIf="!editVariabletemplateFlag">Variable Template Name</label>
              </div>

            <div class="input-field col s6">
                  <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="selectedvariabletemplate.description" name="description" required ng-pristine>
                  <label >Variable Template Description</label>
              </div>
            </div>

            
            <div class="row" *ngFor="let category of variablecategories">
                    <app-wrapperuploadfile [variable]='variable_value' [category]='category' [images]="category.images"></app-wrapperuploadfile>
            </div>
          <button class="btn waves-effect waves-light small" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>

        </form>

                 
</div>

<div class="row">
            <table>
        <thead>
          <tr>
              <th>Variabletemplate Name</th>
              <th>Created on</th>
              <th>Description</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>

        <tbody *ngFor="let variabletemplate of variabletemplates$ | async | paginate: {id: 'Variabletemplate', itemsPerPage: 15, currentPage: currentPage,  totalItems: variabletemplate_count$ |async}">
            <tr>
                    <td>{{variabletemplate.variabletemplate_name}}</td>
                    <td>{{variabletemplate.indian_time}}</td>
                    <td>{{variabletemplate.description}}</td>
                    
                    <td><button class="btn waves-effect waves-light small" (click) = "edit(variabletemplate)" >Edit</button></td>
                    <td><button class="btn waves-effect waves-light red small" (click) = "delete(variabletemplate)">-</button></td>
            </tr>


        </tbody>
        </table>
        <pagination-controls id="Variabletemplate" (pageChange)="pageVariabletemplateChanged($event)"></pagination-controls>

</div>

