
<div class="row" >
    <div class="col s6">
        <a class="btn-floating btn-large waves-effect waves-light red"  (click)="addVariabletemplate()"><i class="material-icons">add</i></a>
    </div>

    <!-- 
    <form materialize class="col s6">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" (ngModelChange)="search_text_changed($event)" [(ngModel)]="search_text" name="search_text" ></textarea>
          <label for="textarea1">Search Subconcepts</label>
        </div>
    </form> -->
</div>

<div class="row" *ngIf="loading">
  <div materialize class="progress">
      <div class="indeterminate"></div>
  </div>

</div>

<div class="row" style="height: 100%" *ngIf="addVariabletemplateFlag">
        <form materialize class="col s12" #form="ngForm">
            <div class="input-field col s4" *ngIf="variable_value.data_type=='Text'">
                    <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="category_name" name="module_name" required ng-pristine>
                  <label></label>
              </div>
               <div class="input-field col s4" *ngIf="variable_value.data_type=='Text'">
                    <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="category_name" name="module_name" required ng-pristine>
                  <label></label>
              </div>  
              
              <select [(ngModel)]="variable_value"   (ngModelChange)="onChange($event)" name="variable_value" [materializeSelectOptions]="selectOptions" materialize="material_select">
                        <option value="" disabled selected>Variable Name</option>
                      <option *ngFor="let variable of variables$| async" [ngValue]="variable">{{variable.variable_name}}</option>
                </select>
        </form>

        <form  class="col s12" #categoryform="ngForm" (ngSubmit)="categorySubmit(categoryform.value, $event, variable.variable_id, category.category_name)">
            <div class="row" *ngFor="let category of variablecategories">
                <span>{{category.category_name}}: identifier: {{category.category_identifier}}</span>
                <div class="input-field col s4" *ngIf="variable_value.data_type=='Image'">
                    <input id="icon_prefix" type="file" (change)="onFileChange($event)" class="validate"  [(ngModel)]="category_name" name="module_name" required ng-pristine>
                  <label></label>
              </div>

            
            
            <!--     <ng2-file-input (onAction)="onAction($event, variable_value, category)"></ng2-file-input>
             -->
            
                <div class="input-field col s4" *ngIf="variable_value.data_type=='Text'">
                    <input id="icon_prefix" type="text" class="validate"  [(ngModel)]="category_name" name="module_name" required ng-pristine>
                  <label></label>
              </div>

              
          </div>
          <button class="btn waves-effect waves-light small" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>

        </form>

                 
</div>

<div class="row">
            <table>
        <thead>
          <tr>
              <th>Variabletemplate Name</th>
              <th>Created on</th>
              <th>Description</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>

        <tbody *ngFor="let template of variabletemplates$ | async | paginate: {id: 'Variabletemplate', itemsPerPage: 15, currentPage: currentPage,  totalItems: variabletemplate_count$ |async}">
            <tr>
                    <td>{{template.template_name}}</td>
                    <td>{{template.indian_time}}</td>
                    <td>{{template.description}}</td>
                    
                    <td><button class="btn waves-effect waves-light small" (click) = "edit(template)" >Edit</button></td>
                    <td><button class="btn waves-effect waves-light red small" (click) = "delete(template)">-</button></td>
            </tr>


        </tbody>
        </table>
        <pagination-controls id="Variabletemplate" (pageChange)="pageVariabletemplateChanged($event)"></pagination-controls>

</div>

