<div class="row">
 <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb" *ngIf="selectedDomain">{{selectedDomain.module_name}}</a>
        <a href="#!" class="breadcrumb" *ngIf="selectedConcept">{{selectedConcept.module_name}}</a>
        <a href="#!" class="breadcrumb" *ngIf="selectedSubconcept">{{selectedSubconcept.module_name}}</a>
        <a href="#!" class="breadcrumb" *ngIf="selectedNanoskill">{{selectedNanoskill.module_name}}</a>
      </div>
    </div>
  </nav>
</div>
<div class="row" *ngIf="!freezeOntology">
    <div class="card col s12">
            <div class="card-tabs">
                    <ul tabs class="tabs tabs-fixed-width" materialize="tabs">
                        <li class="tab"><a href="#domain">Domain</a></li>
                        <li class="tab"><a  [ngClass]="active" href="#concept">Concept</a></li>
                        <li class="tab"><a href="#subconcept">SubConcept</a></li>
                        <li class="tab"><a href="#nanoskill">nanoskill</a></li>
                    </ul>
            </div>
            <div class="card-content">
                    <div id="domain"><app-childdomain (submitDomain)="_submitDomain($event)" (editDomain)="_editDomain($event)" (deleteDomain)="_deleteDomain($event)" (selectedDomain)= "_selectedDomain($event)"></app-childdomain></div>
                    <div id="concept"><app-concept (submitConcept)="_submitConcept($event)" (editConcept)="_editConcept($event)" (deleteConcept)="_deleteConcept($event)" (selectedConceptModule)= "_selectedConcept($event)"></app-concept></div>
                    <div id="subconcept"><app-subconcept (submitSubconcept)="_submitSubconcept($event)" (editSubconcept)="_editSubconcept($event)" (deleteSubconcept)="_deleteSubconcept($event)" (selectedSubconcept)= "_selectedSubconcept($event)"></app-subconcept></div>
                    <div id="nanoskill"><app-nanoskill  (submitNanoskill)="_submitNanoskill($event)" (editNanoskill)="_editNanoskill($event)" (deleteNanoskill)="_deleteNanoskill($event)" (selectedNanoskill)= "_selectedNanoskill($event)"></app-nanoskill></div>
                    
            </div>
    </div>
</div>
<app-questions *ngIf="freezeOntology" (unfreezeontology)="_unfreezeOntology($event)"></app-questions>

<!--
<div class="row">

    <div class="col s3 card">
        <span>Domain</span>
        <select  materialize="material_select" [materializeSelectOptions]="selectOptions">
            <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
        </select>
    </div>

        <select class="col s3 card" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
    </select>

        <select class="col s3 card" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
    </select>

    <select class="col s3 card" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
    </select>

    <div class="input-field col s12">
                    <select  class="browser-default" name="role" [(ngModel)]="role">
                        <option value="" disabled selected>Choose your option</option>
                        <option *ngFor="let role of roles" [ngValue]="role" > {{role}} </option>
                    </select>
    </div>

              <div class="row col s6">
              <label for="icon_telephone">some random value</label>
              <div class="input-field col s12">
                    <select class="browser-default">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
              </div>
          </div>

</div>
<div class="row">
        <router-outlet></router-outlet>
</div>

-->