  <ul id="slide-out" class="side-nav fixed fresh">
      <li class=""><h2 style="text-align: center">Editor</h2></li>
      <li><a [routerLink]="['editor']">Logout</a></li>
      <li><a [routerLink]="['editor']">Editor</a></li>
      <li ><a [routerLink]="['questions']">Questions</a></li>
      <li ><a [routerLink]="['users']">Users</a></li>
      <li ><a [routerLink]="['ontology']" [routerLinkActive]="['is-active']">Ontology</a></li>
      <li ><a [routerLink]="['permissions']">Permissions</a></li>
      <li ><a [routerLink]="['variables']">Variables</a></li>
      <li ><a [routerLink]="['templates']">Templates</a></li>
      
  </ul>