:host >>> .canvas-container { 
                    height: 1000px !important ;
                    width: 1000px !important;
                    background: blue; 
                }

:host >>> .upper-canvas { 
          height: 1000px !important ;
                    width: 1000px !important;
                    background: red; 
                }



